*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswaldlight.woff2) format('woff2'),
        url(../fonts/Oswaldlight.woff) format('woff');
    font-style: normal;
    font-weight: light;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswaldregular.woff2) format('woff2'),
        url(../fonts/Oswaldregular.woff) format('woff');
    font-style: normal;
    font-weight: regular;
    font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url(../fonts/Oswaldmedium.woff2) format('woff2'),
			url(../fonts/Oswaldmedium.woff) format('woff');
	font-style: normal;
	font-weight: bold;
	font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --font-primary: 'Oswald', serif;
  --regular-size: 18px;
	--large-size: 24px;
	--main-color: #fff;
  --text-color: #0E1E0F;
  --primary-color: #3C7D41;
  --article-color:#2C2B2B;
  --hover: #8fc866;
	--active: #FFB342;
  --gray-color: #C4C4C4;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.3s;
}
ul{
  list-style-type: none;
}

button {
  padding: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}


body {
  color:var(--text-color);
  background-color:var(--main-color);
  font-family:var(--font-primary);
  font-size: var(--regular-size);
  line-height: 1.5;
}

.menu__btn,
.menu_close{
  display: none;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10px;
  overflow: hidden;
}
.title {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  text-transform: uppercase;
  position: relative;
  color: var(--primary-color);
}
.title::after{
  content: '';
  width: 80px;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  margin-left: 20px;
}
.text {
  color:var(--article-color);
  font-weight: 300;
}

.header {
	background: url(../images/background_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: var(--main-color);

}

.header__top {
	display: grid;
	grid-template-columns: 200px 1fr 350px;
	padding-top: 30px;
	justify-items: center;
  align-items: center;
	gap: 10px;
}
.logo__img {
	width: 100%;
}

.menu__list {
	display: flex;
}

.menu__item {
font-weight: 400;
font-size: var(--large-size);
line-height: 1.5;
text-transform: uppercase;
padding-right: 20px;
}
.menu__item:hover {
	color: var(--active);
}
.header__phone {
	font-weight: 400;
	font-size: 36px;
	color: var(--active);
	filter: drop-shadow(5px 8px 8px black);
}
.header__content {
  position: relative;
  padding-top: 95px;
}
.header_title {
	font-size: 72px;
	line-height: 1.5;
	text-transform: uppercase;

  margin-bottom: 50px;
}
.button {
  font-size: var(--regular-size);
  font-family: var(--font-primary);
  line-height: 21px;
  text-transform: uppercase;
  padding: 15px 50px;
  background-color:var(--primary-color);
  color: var(--main-color);
  max-width: 250px;
  width: 100%;
 letter-spacing: 3px;
 background-image: linear-gradient(190deg, #3c7d41 0%, #8fc866 90%);
}

.button:hover, 
.button:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

.header__social{
  display: flex;
  padding: 70px 0 ;
  align-items: center;
}
.header__social_link{
  margin: 0 25px;
  transition: 0.3s;
  border-radius: 50%;
	filter: drop-shadow(5px 8px 8px black);
}
.header__social_link:hover{
  transform: scale(1.3);
}

.header__image{
  position: absolute;
  right: 10%;
  bottom: -50px;
}

.about {
  padding: 80px 0;
}
.about__text{
  margin-bottom: 50px;
}
.about__item {
  margin-bottom: 100px;
  background-repeat: no-repeat;
  padding: 70px 0;
  min-height: 650px;
	position: relative;
}

.item_1{
  background-image: url(../images/about_item_1.jpg);
  background-position:left;
  }
.item_2{
    background-image: url(../images/about_item_2.jpg);
    background-position: right;
  }
  .item_1 .about__box {
    margin-left: auto;
  }

.about__box {
  padding: 33px 40px 18px;
  background-color: var(--main-color);
  position: relative;
  max-width: 470px;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2);
  min-height: 300px;
}

.about__box::before,
.about__box::after{
content: '';
position: absolute;
width: 33px;
height: 33px;
}

.about__box::before{
  border-top: 2px solid #ECB84C;
  border-left: 2px solid #ECB84C;
  top: 19px;
  left: 19px;
}

.about__box::after{
border-bottom: 2px solid #ECB84C;
border-right: 2px solid #ECB84C;
right: 19px;
bottom: 19px;
}

.about__box_title {
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px 0;
  color: var(--primary-color);
}
.about__box_text {
  color:var(--article-color);
}
.about__item_picture{
position: absolute;
}
.item_picture_1{
	left: 0;
	bottom: -120px;
}
.item_picture_2{
	right: 0;
	bottom: -20px;
}

.benefits__inner {
  display: flex;
}
.benefits__inner_box{
  background: url(../images/background_benifits.jpg) no-repeat top left;
  padding: 100px 40px;
}

.benefits__list {
  background: rgba(236, 184, 76, 0.8);
  padding: 70px 35px;

}
.benefits__item {
  text-align: center;
  font-weight: 300;
  background: #FFFFFF;
border: 4px solid var(--primary-color);
width: 500px;
height: 100px;
margin-bottom: 25px;
padding-left: 50px;
padding-right: 50px;
transition: all .5s;
transform: scale(1);
}
.benefits__item:hover{
  border: 4px solid var(--hover);
  transform: scale(1.1);
}

.benefits__item_title {
  font-size: var(--large-size);
  color: var(--primary-color);
}
.benefits__item_text {
}
.benefits__content {
  padding-left: 90px;
  margin-bottom: 100px;
}
.benefits__content_text{
  margin-bottom: 20px;
}
.benefits__content_bottom{
  text-transform: uppercase;
  text-align: center;
}
.benefits__content_test{
  display: block;
  margin-bottom: 10px;
}

.characteristics {
  margin-bottom: 100px;
}
.characteristics__inner{
	position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom:135px;
  padding-top: 50px;
}
.characteristics__list {
  position: relative;
  width: 300px;
  height: 500px;

}
.characteristics__item {
position: absolute;
display: flex;
align-items: center;
flex-wrap: wrap;
}
.characteristics__item_list{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: start;
}
.characteristics__item_point{
	text-transform: uppercase;
	position: relative;
	padding-left: 15px;
}
.characteristics__item_point::before{
	position: absolute;
	content: '';
	width: 7px;
	height: 7px;
	top: 10px;
	left: 0;
	background-color: var(--active);
}
.characteristics__item_text{
  margin-right: 10px;
}
.characteristics__item span{
  font-size: var(--large-size);
  font-weight: 500;
  display: block;

}
.characteristics__icon {
	position: relative;
}
.icon_1::after{
	content: '';
  position: absolute;
  background-color: var(--primary-color);
  width: 23px;
  height: 2px;
  transform: rotate(30deg);
  bottom: 14px;
  right: -17px;

}
.icon_2::after{
	content: '';
  position: absolute;
  background-color: var(--primary-color);
  width: 85px;
  height: 2px;
  transform: rotate(15deg);
  bottom: 15px;
  right: -82px;
}
.icon_3::after{
	content: '';
  position: absolute;
  background-color: var(--primary-color);
  width: 130px;
  height: 2px;
  transform: rotate(9deg);
  bottom: 22px;
  right: -129px;
}
.icon_4::after{
	content: '';
  position: absolute;
  background-color: var(--primary-color);
  width: 199px;
  height: 2px;
  transform: rotate(6deg);
  bottom: 18px;
  right: -197px;
}
.icon_5::after{
	content: '';
  position: absolute;
  background-color: var(--primary-color);
  width: 181px;
  height: 2px;
  transform: rotate(3deg);
  bottom: 32px;
  right: -180px;
}
.icon_6::after{
	content: '';
  position: absolute;
  background-color: var(--primary-color);
  width: 187px;
  height: 2px;
  transform: rotate(-1deg);
  bottom: 36px;
  right: -188px;

}
.icon_7::after{
	content: '';
  position: absolute;
  background-color: var(--primary-color);
  width: 201px;
  height: 2px;
  transform: rotate(-6deg);
  bottom: 51px;
  right: -201px;
}
.characteristics_1 {
  top: -75px;
	right: -100%;
}
.characteristics_2 {
	top: 70px;
	right: -50%;
}
.characteristics_3 {
  top: 155px;
  right: -27%;
}
.characteristics_4 {
	top: 240px;
	right: 0%;
}
.characteristics_5 {
  bottom: 86px;
  right: -7%;
}
.characteristics_6 {
  bottom: -10px;
  right: -10%;
}
.characteristics_7{
  bottom: -118px;
  right: -18%;
 }
 .characteristics__item_text_3{
  width: 260px;
 }
.characteristics__icon{
	border: 1px solid var(--primary-color);
	width: 80px;
	height: 80px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.characteristics__icon_img{
	width: 70%;
}
.icon_1 .characteristics__icon_img{
	width:100%;
}
.icon_2 .characteristics__icon_img{
	width:60%;
}

.characteristics__picture{
	position: relative;
	right: 0;
}
.characteristics__picture::after{
  content: '';
  position: absolute;
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 850px;
	height: 850px;
  top:  -100px;
  left: 120px;
  z-index: -1;
}
.characteristics__picture::before{
  content: '';
  position: absolute;
  width: 950px;
	height: 950px;
  border: 1px solid;
  border-radius: 50%;
  top: -150px;
  left: 70px;
  z-index: -1;
}
.slider {
  margin-bottom: 100px;
}


.slider__list {
  margin: 0 -7px;
}
.slider__item {
 
  margin: 0 7px;
}
.slider__item_box {
  border: 1px solid var(--gray-color);
  padding: 6px 6px 16px 6px;
  text-align: center;
  transition: .5s;
  min-height: 375px;
}
.slider__item_box:hover {
  color: var(--main-color);
  background-color: var(--hover);
  border-color: var(--hover);
}

.slick-current .slider__item_box {
  color: var(--primary-color);
  background-color: var(--active);
  border-color: var(--active);
} 

.slider__img{
max-width: 100%;
margin-bottom: 20px;
height: 250px;
width: 380px;
margin: 0 auto;
display: block;
text-align: center;
}

.slider__item_title {
  font-weight: 300;
  margin-bottom: 5px;
}
.slider__item_text {
}

.slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  list-style: none;
}
.slick-dots button{
font-size: 0;
border: none;
outline: none;
width: 50px;
height: 1px;
background-color: var(--article-color);
margin: 0 10px;
}

.slick-active button{
  background-color: var(--primary-color);
  height: 3px;
}

.index{
  margin-bottom: 100px;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.contacts__info {
}
.contacts__list {

}
.contacts__item {
  margin-bottom: 20px;
}
.contacts__item_title {
  color: var(--primary-color);
}
.contacts__item_text {
}
.contacts__item_phone {
}
.form {
  padding: 50px 35px 50px;
  background-color: var(--primary-color);
  text-align: center;
  position: relative;
}
.form::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8) url(../images/loading.gif) center / 50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.form._sending::after{
  opacity: 1;
  visibility: visible;
}

.form__title {
  color: var(--main-color);
}
.form__title::after{
content: none;
}
.form__input {
  background-color: transparent;
  max-width: 450px;
  width: 100%;
  height: 75px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  margin-bottom: 12px;
  display: block;
  font-size: var(--large-size);
  padding: 5px 15px;
  text-align: center;
  outline: none;
}
.form__input::placeholder{
  text-align: center;
  font-family: var(--font-primary);
  font-size: var(--regular-size);
  line-height: 1.5;
  font-weight: 300;
  color: var(--gray-color);
}
.form__input:focus{
  box-shadow: 0 0 12px var(--active);
}
.form__input._error{
  /* box-shadow:0 0 15px red; */
  border-color: red;
}

.form__button {
  margin-top: 78px;
  background: var(--main-color);
  color: var(--primary-color);
}
.footer {
	background-color: var(--primary-color);
	color: var(--main-color);
}

.footer__inner {
	display: grid;
	grid-template-columns: 200px 1fr;
	justify-items: end;
	align-items: center;
  padding: 24px 0;
}



@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

@media (max-width: 1300px){
	.characteristics{
		margin-bottom: 20px;
	}
.characteristics__inner{
	align-items:center;
	margin-bottom: 0;
}
	.characteristics__list{
		height: fit-content;
		width: 70%;
	}
	.characteristics__item{
		position: static;
		display: grid;
		grid-template-columns: 80px 1fr;
		margin-bottom: 10px;
		grid-gap: 20px;
	}
	.characteristics__icon{
		grid-column-start: 1;
		grid-row-start: 1;
	}
	.characteristics__icon::after {
		content: none;
	}

}
@media (max-width: 1200px){
	.header__top {
		grid-template-columns: 200px 1fr 200px;
	}
  .header_title {
    font-size: 52px;
  }
	.header__phone {
    font-size: 24px;
}
.about {
	padding: 40px 0;
}
.benefits__list {
	padding: 28px 10px;
}
.benefits__inner_box {
	padding: 135px 0px;}
	.benefits__content{
		padding-left: 30px;
	}
}
@media (max-width: 1040px){
	.header__top {
    grid-template-columns: 80px 1fr 200px;
}
	.logo{
		grid-column-start: 2;
	}
	.menu{
		grid-column-start: 1;
		grid-row-start: 1;
	}
  .menu__btn{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 55;
  }
  .menu__btn span{
    position: absolute;
    background: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
 
  .menu__btn::before,
  .menu__btn::after{
    content:'';
    background-color: var(--main-color);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .menu__btn::before{
    top: 0;
  }
  .menu__btn::after{
    bottom: 0;
  }
	.menu__list{
		display: block;
    position: fixed;
    top:-100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--hover);
    padding: 100px 40px;
    z-index: 5;
    transition: all 0.3s ease 0s;
	}
  .menu__list.active{
    top: 0;
  }

  .menu__item{
    margin: 0 0 20px 0;
  }
  .menu__btn.active::before{
    transform: rotate(45deg);
    top: 10px;
  }
  .menu__btn.active::after{
    transform: rotate(-45deg);
    bottom: 8px;
  }
  .menu__btn.active span{
    transform: scale(0);
  }
  .menu__btn::before {
    
}
	.characteristics__picture img{
		width: 100%;
	}
	.characteristics__picture::before {
		width: 550px;
		height: 550px;
		top: -57px;
    left: 93px
	}
	.characteristics__picture::after {
		width: 500px;
		height: 500px;
		top: -33px;
    left: 120px;
	}
}

@media (max-width: 900px){
  .container{
    overflow: visible;
  }
.header__image{
  right: 0;
  bottom: -159px;
}
.benefits__inner{
	flex-wrap: wrap;
	justify-content: center;
    gap: 20px;
}
.benefits__inner_box {
	padding: 135px 80px
}
.benefits__content{
	padding: 0 10px;
	margin-bottom: 20px;
}
.characteristics__inner{
	flex-wrap: wrap;
	padding: 0;
}
.characteristics__list,
.characteristics__item_text_3{
	width: 100%;
}
.slider,
.index{
	margin-bottom: 30px;
}
.slider{
	padding: 40px 50px 40px;
}

}

@media (max-width: 768px){
	:root {
		--regular-size: 12px;
		--large-size: 18px;
	}

	.header{
		min-height: fit-content;
	}
  .header_title {
    font-size: 32px;
  }
	.header__image {
    right: 0;
    bottom: -300px;
	}
	.header__content_wrapper{
	display: flex;
	justify-content: space-between;
}
.header__social{
	padding: 0;
}
.header__social img{
	width: 100%;
}
.button{
	max-width: 200px;
	padding: 15px;
}
.header__social_link {
	margin: 0 10px;
}
.header__image{
    position: static;
		width: 60%;
}
.title{
	font-size: 24px;
	margin-bottom: 10px;
}
.title::after {
	width: 45px;
}

.about__text {
	margin-bottom: 10px;
}
.about__box {
	padding: 19px 35px 14px;
	background-color: var(--main-color);
	position: relative;
	max-width: 260px;
	box-shadow: 0px 2px 40px rgb(0 0 0 / 20%);
	min-height: 150px;
}

.about__item {
	background-repeat: no-repeat;
	padding: 18px 0 70px;
	min-height: fit-content;
}
.about__item_picture{
	bottom:-50px;
}
.about__item_img{
	width: 200px;
}

.benefits__item {
width: 100%;
height: 72px;
padding: 0 8px;
}
.characteristics__inner{
	overflow: hidden;
}
.characteristics__icon{
	width: 60px;
	height: 60px;
}
.characteristics__list{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}
.characteristics_1{
	grid-column: 1/3;
}
.characteristics__item{
	grid-gap: 0;
}
.characteristics__picture::before{
	top: 0;
	left: 0;
}
.characteristics__picture::after{
	top: 25px;
	left: 28px;
}
.slider__item_box,
.contacts__inner{
  font-size: var(--large-size)
}
.slick-dots button{
  width: 15px;
  height: 8px;
}
.form__button{
	margin-top: 30px;
}
}
@media (max-width: 600px){
	.benefits__inner_box {
    padding: 0;
	}
	.about__item{
		padding: 130px 0 0px;
	}
	.item_1 {
    background-position: bottom;
	}
	.item_2 {
    background-position: inherit;
	}
}
@media (max-width: 500px){
	.header__phone {
    font-size: 14px;
	}
	.header__top {
    grid-template-columns: 60px 1fr 120px;
	padding-top: 10px;
	gap:15px
}
	.header_title {
    font-size: 22px;
	}
	.about__box_title{
		padding: 8px 0;
	}
	.about__item_picture{
		bottom: -112px;
	}

	.characteristics__inner{
		height: 740px;
	}
	.characteristics__list{
		grid-gap: 5px 0;
	}
	.characteristics__item{
		grid-template-columns: 50px 1fr;
	}
	.characteristics__icon{
		width: 47px;
		height: 47px;
	}
	.characteristics_3{
		grid-column: 1/3;
	}
	.form{
		width: 100%;
	}
	.footer__inner{
		grid-template-columns: 1fr;
		justify-items: center;
		grid-gap: 15px;

	}

}
@media (max-width: 380px){
	.characteristics__list{
		display: block;
	}
	.characteristics__inner{
		height: fit-content;
	}
}
