*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswaldlight.woff2) format('woff2'),
        url(../fonts/Oswaldlight.woff) format('woff');
    font-style: normal;
    font-weight: light;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswaldregular.woff2) format('woff2'),
        url(../fonts/Oswaldregular.woff) format('woff');
    font-style: normal;
    font-weight: regular;
    font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url(../fonts/Oswaldmedium.woff2) format('woff2'),
			url(../fonts/Oswaldmedium.woff) format('woff');
	font-style: normal;
	font-weight: bold;
	font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --font-primary: 'Oswald', serif;
  --regular-size: 18px;
	--main-color: #fff;
  --text-color: #0E1E0F;
  --primary-color: #3C7D41;
  --article-color:#2C2B2B;
  --border-color:#D2D6DA;
  --hover: #8fc866;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.3s;
}
ul{
  list-style-type: none;
}

button {
  padding: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}


body {
  color:var(--text-color);
  background-color:var(--main-color);
  font-family:var(--font-primary);
  font-size: var(--regular-size);
  line-height: 1.5;
}


.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10px;
}
.title {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  text-transform: uppercase;
  position: relative;
  color: var(--primary-color);
}
.title::after{
  content: '';
  width: 80px;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  top: 24px;
  margin-left: 20px;
}
.text {
  color:var(--article-color);
  font-weight: 300;
}

.header {
	background: url(../images/background_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: var(--main-color);
}

.header__top {
	display: grid;
	grid-template-columns: 200px 1fr 350px;
	padding-top: 30px;
	justify-items: end;
}
.logo {
}
.logo__img {
	width: 100%;
}
.menu {
}
.menu__list {
	display: flex;
}

.menu__item {
font-weight: 400;
font-size: 24px;
line-height: 1.5;
text-transform: uppercase;
padding-right: 20px;
}
.menu__link {
}
.header__phone {
	font-weight: 400;
	font-size: 36px;
}
.header__content {
  position: relative;
  padding-top: 95px;
}
.header_title {
	font-size: 72px;
	line-height: 1.5;
	text-transform: uppercase;

  margin-bottom: 50px;
}
.button {
  font-size: var(--regular-size);
  font-family: var(--font-primary);
  line-height: 21px;
  text-transform: uppercase;
  padding: 15px 50px;
  background-color:var(--primary-color);
  color: var(--main-color);
  max-width: 250px;
  width: 100%;
 letter-spacing: 3px;
}
.button:hover{
 
}

.button:hover, 
.button:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

.header__social{
  display: flex;
  padding: 70px 0 20px;
  align-items: center;
}
.header__social_link{
  margin-right: 10px;
}

.header__image{
  position: absolute;
  right: 10%;
  bottom: -180px;
}

.about {
  padding: 80px 0;
}
.about__text{
  margin-bottom: 50px;
}
.about__item {
  margin-bottom: 100px;
  background-repeat: no-repeat;
  padding: 70px 0;
  min-height: 650px;
}

.item_1{
  background-image: url(../images/about_item_1.jpg);
  background-position:left;
  }
  .item_2{
    background-image: url(../images/about_item_2.jpg);
    background-position: right;
  }
  .item_1 .about__box {
    margin-left: auto;
  }

.about__box {
  padding: 33px 40px 18px;
  background-color: var(--main-color);
  position: relative;
  max-width: 470px;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2);
  min-height: 300px;
}

.about__box::before,
.about__box::after{
content: '';
position: absolute;
width: 33px;
height: 33px;
}

.about__box::before{
  border-top: 2px solid #ECB84C;
  border-left: 2px solid #ECB84C;
  top: 19px;
  left: 19px;
}

.about__box::after{
border-bottom: 2px solid #ECB84C;
border-right: 2px solid #ECB84C;
right: 19px;
bottom: 19px;
}

.about__box_title {
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px 0;
  color: var(--primary-color);
}
.about__box_text {
  color:var(--article-color);
}

.benefits__inner {
  display: flex;
 
}
.benefits__inner_box{
  background: url(../images/background_benifits.jpg) no-repeat top left;
  padding: 100px 40px;
}

.benefits__list {
  background: rgba(236, 184, 76, 0.8);
  padding: 70px 35px;

}
.benefits__item {
  text-align: center;
  font-weight: 300;
  background: #FFFFFF;
border: 4px solid var(--primary-color);
width: 500px;
height: 100px;
margin-bottom: 25px;
padding-left: 50px;
padding-right: 50px;
transition: all .5s;
transform: scale(1);
}
.benefits__item:hover{
  border: 4px solid var(--hover);
  transform: scale(1.1);
}

.benefits__item_title {
  font-size: 24px;
  color: var(--primary-color);
}
.benefits__item_text {
}
.benefits__content {
  padding-left: 90px;
  margin-bottom: 100px;
}
.benefits__content_text{
  margin-bottom: 20px;
}
.benefits__content_bottom{
  text-transform: uppercase;
  text-align: center;
}
.benefits__content_test{
  display: block;
  margin-bottom: 10px;
}

.characteristics {
}
.characteristics__inner{
  /* display: flex;
  justify-content: flex-end; */
  width: 100%;
  border: 1px solid red;
  align-items: flex-end;
  text-align: end;
}
.characteristics__list {
  position: relative;
  width: 100%;
}
.characteristics__item {
position: absolute; 
width: 100%;
}

.characteristics_1 {
  top: 0;
 right: 35%;
}
.characteristics_2 {
  top: 50px;
  right: 35%;
}
.characteristics_3 {
  top: 120px;
  right: 35%;
}
.characteristics_4 {
  top: 180px;
  right: 35%;
}
.characteristics_5 {
  bottom: 50px;
  right: 35%;
}
.characteristics_6 {
 bottom: 0;
 right: 35%;
}

.characteristics__item_text{
  position: relative;
  padding-left: 100px;
}
.characteristics__item_text::before{
  position: relative;
  content: '';
  position: absolute;
  border: 1px solid;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
}


.characteristics_1__text::before {
  background: url(../images/characteristics_1.png) 50% 50% no-repeat;
  background-size: contain;
}
.characteristics_2__text::before {
  background: url(../images/characteristics_2.png) 50% 50% no-repeat;
  background-size: 70%;
}
.characteristics_3__text::before {
  background: url(../images/characteristics_3.png) 50% 50% no-repeat;
  background-size: contain;
}
.characteristics_4__text::before {
  background: url(../images/characteristics_4.png) 50% 50% no-repeat;
  background-size: contain;
}
.characteristics_5__text::before {
  background: url(../images/characteristics_5.png) 50% 50% no-repeat;
  background-size: contain;
}
.characteristics_6__text::before {
  background: url(../images/characteristics_6.png) 50% 50% no-repeat;
  background-size: contain;
}
.characteristics_7__text::before {
  background: url(../images/characteristics_7.png) 50% 50% no-repeat;
  background-size: contain;
}

.footer {
}